body{
    margin: 0;
    background-color: black;
    background-repeat: no-repeat;
    font-family: rubik;
}

.header {
    background-color: black;
    padding-left: 10pt;
    padding-right: 10pt;
}

.nav {
    background-color: black;
    padding: 5pt;
    text-align: right;
}

#logo {
    height: 60pt;
}

a {
    text-decoration: none;
    color: white;
}

.links{
    padding-left: 20pt;
    padding-right: 20pt;
}

.article {
    position: relative;
    overflow: hidden;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
}

.footer {
    color: white;
    text-align: center;
}




